div.container-principal{
    visibility: visible;
    width: 350px;
    height: 650px;
    background-color: gray;
    text-align: center;
}

div.ContainerPrincipalInvi{
    visibility: hidden;
    width: 350px;
    height: 500px;
    background-color: gray;
}

.buttonon{
    position: relative;
    background-color: cadetblue;
    border: 0cm;
    height: 30px;
    width: 70px;
    left: 430px;
    bottom: 603px;
}

.buttonoff{
    position: absolute;
    background-color: cadetblue;
    border: 0cm;
    height: 30px;
    width: 70px;
    left: 510px;
    bottom: 497px;
}