.container{
    visibility: visible;
    position: relative;
    left: 400px;
    bottom: 500px;
    background-color:gray;
    height: 150px;
    width: 250px;
}
.invisible{
    visibility: hidden;
    position: relative;
    left: 400px;
    bottom: 418px;
    background-color:yellow;
    height: 150px;
    width: 250px;
}
.infodesa{
    background-color: brown;
}

.containerinfo{
    position: relative;
    
    left: 400px;
    height: 300px;
    width: 200px;
}

.buttonalumno{
    position: relative;
    left: 500px;
    bottom: 500px;
    background-color: aqua;
}

.lista{
    background-color: azure;
    width: 150px;
    position:fixed;
}